<footer id="colophon" class="site-footer inner">
  <p class="site-info">
    {{ site.footer.content }}
    &nbsp;
    {% for link in site.footer.links %}
    <a href="{{ link.url }}" {% assign new_window_is_not_empty = link.new_window | is_not_empty %}
      {% if new_window_is_not_empty %}target="_blank" rel="noopener"
      {% endif %}>{{ link.text }}</a>.
    {% endfor %}
  </p><!-- .site-info -->
  <a id="to-top" class="to-top" href="#page">To top <span class="icon-arrow-up" aria-hidden="true"></span></a>
</footer><!-- .site-footer -->
