<header id="header-alt" class="site-header-alt">
  <nav id="single-navigation" class="site-navigation-alt" aria-label="Main Navigation">
    <a class="home-link" href="{{ '/' | relative_url }}"><span class="icon-arrow-left"
        aria-hidden="true"></span> All Articles</a>
  </nav><!-- .site-navigation-alt -->
</header><!-- .site-header-alt -->
