<div class="social-links">
  {% for link in site.data.social.links %}
  {% assign link_is_not_empty = link | is_not_empty %}
  {% if link_is_not_empty %}
  <a href="{{ link.url }}" target="_blank" rel="noopener"><span class="fab {{ link.icon }}"
      aria-hidden="true"></span><span class="screen-reader-text">{{ link.title }}</span></a>
  {% endif %}
  {% endfor %}
</div><!-- .social-links -->
