---
---

// Font.
$font: (
  primary: ("PT Serif", serif)
);

// Palette.
$palette: (
  primary:       #666666,
  secondary:     darken(#666666, 27%),
  meta:          lighten(#666666, 23%),
  border:        lighten(#666666, 38%),
  bg:            lighten(#666666, 55%),
  accent:        #ffd300,
  accent-blue:   #1fa2ff,
  accent-green:  #24b466,
  accent-red:    #f45a4e
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/footer";
@import "imports/animations";
@import "imports/palettes";
@import "imports/banner";
