---
layout: body
---

  {% include header.html site=site page=page img_path=page.img_path %}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <article class="post page post-full">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header><!-- .post-header -->
        {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
        {% if subtitle_is_not_empty %}
        <div class="post-subtitle">
          {{ page.subtitle }}
        </div><!-- .post-subtitle -->
        {% endif %}
        <div class="post-content">
          {{ content }}
          <form name="contactForm" method="POST" netlify-honeypot="bot-field" data-netlify="true" id="contact-form"
            class="contact-form">
            <p class="screen-reader-text">
              <label>Don't fill this out if you're human: <input name="bot-field" /></label>
            </p>
            <p class="form-row">
              <label class="form-label">Name *</label>
              <input type="text" name="name" placeholder="Your name..." class="form-input">
            </p>
            <p class="form-row">
              <label class="form-label">Email *</label>
              <input type="email" name="email" placeholder="Your email address..." class="form-input">
            </p>
            <p class="form-row">
              <label class="form-label">Message *</label>
              <textarea name="message" placeholder="Your message..." class="form-textarea" rows="7"></textarea>
            </p>
            <input type="hidden" name="form-name" value="contactForm" />
            <p class="form-row">
              <button type="submit" class="button">Send Message</button>
            </p>
          </form><!-- .contact-form -->
        </div><!-- .post-content -->
      </article><!-- .post -->

    </main><!-- .site-main -->

    {% include footer.html %}

  </div><!-- .site-content -->
