---
layout: body
---

  {% include header.html site=site page=page img_path=site.header.bg_img %}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      {% for category in site.categories %}
        <pre>
        {{ category | inspect }}
        </pre>
        <pre>
        {{ category.methods | inspect }}
        </pre>
        <!--<h3><a href="{{ category.url }}">{{ category[0] }}</a></h3>-->
      {% endfor %}

      <div class="post-feed">
        {% assign display_posts = '/posts' | get_pages | sort: 'date' | reverse %}
        {% for post in display_posts %}
        <article class="post">
          <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title }}</a></h2>
            <div class="post-meta">
              Published on <time class="published"
                datetime="{{ post.date | date: '%Y-%m-%d %H:%M' }}">{{ post.date | date: '%B %d, %Y' }}</time>
            </div>
          </header><!-- .post-header -->
          {% assign thumb_img_path_is_not_empty = post.thumb_img_path | is_not_empty %}
          {% if thumb_img_path_is_not_empty %}
          <a class="post-thumbnail" href="{{ post.url | relative_url }}">
            <img class="thumbnail" src="{{ post.thumb_img_path | relative_url }}" alt="{{ post.title }}" />
          </a>
          {% endif %}
          <div class="post-content">
            <p>{{ post.excerpt }}</p>
          </div><!-- .post-content -->
          <p class="read-more">
            <a class="read-more-link" href="{{ post.url | relative_url }}">Keep reading <span class="icon-arrow-right" aria-hidden="true"></span></a>
          </p>
        </article><!-- .post -->
        {% endfor %}
      </div><!-- .post-feed -->

      <!-- Pagination TBD -->
      <!--
      <nav class="pagination">
        <div class="nav-links">
          <a class="older-posts button" href="#"><span class="icon-arrow-left" aria-hidden="true"></span><span class="screen-reader-text">Older posts</span></a>
          <span class="page-number">Page X of Y</span>
          <a class="newer-posts button" href="#"><span class="screen-reader-text">Newer posts</span><span class="icon-arrow-right" aria-hidden="true"></span></a>
        </div>
      </nav>
      -->

    </main><!-- .site-main -->

    {% include footer.html %}

  </div><!-- .site-content -->
