---
layout: body
---

  {% include header.html site=site page=page img_path=page.img_path %}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <article class="post page post-full">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header><!-- .post-header -->
        {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
        {% if subtitle_is_not_empty %}
        <div class="post-subtitle">
          {{ page.subtitle }}
        </div><!-- .post-subtitle -->
        {% endif %}
        <div class="post-content">
          {{ content }}
        </div><!-- .post-content -->
      </article><!-- .post -->

    </main><!-- .site-main -->

    {% include footer.html %}

  </div><!-- .site-content -->
